<div class="item">
    <div>Avatar URL</div>
    <input type="url" name="avatar_url" placeholder="https://" value="{{ member.avatar_url }}">
</div>

<div class="item">
    <div>Membro</div>
    <input type="text" name="name" value="{{ member.name}}">
</div>

<div class="item">
    <div>E-mail</div>
    <input type="email" name="email" value="{{ member.email}}">
</div>
 <div class="item">
    <div>Data de Nascimento</div>
    <input type="date" name="birth" value="{{ member.birth }}">
</div>
<div class="item">
    <div>Sexo</div>
    <div>
        <span><input type="radio" name="gender" value="M" {% if member.gender == 'M' %} checked="checked" {% endif %}>Masculino</span>
        <span><input type="radio" name="gender" value="F" {% if member.gender == 'F' %} checked="checked" {% endif %}>Feminino</span>
    </div>
</div>
<div class="item">
    <div>Tipo Sanguinio</div>
    <div>
        <select name="blood" id="">
            <option value="A+" {% if member.blood =="A+" %} selected{% endif %}>
                A+
            </option>
            <option value="A-" {% if member.blood =="A0" %} selected{% endif %}>
                A-
            </option>
            <option value="B+" {% if member.blood =="B1" %} selected{% endif %}>
                B+
            </option>
            <option value="B-" {% if member.blood =="B0" %} selected{% endif %}>
                B-
            </option>
            <option value="AB+" {% if member.blood =="AB1" %} selected{% endif %}>
                AB+
            </option>
            <option value="AB-" {% if member.blood =="AB0" %} selected{% endif %}>
                AB-
            </option>
            <option value="O+" {% if member.blood =="01" %} selected{% endif %}>
                0+
            </option>
            <option value="0-" {% if member.blood =="00"%} selected{% endif %}>
                0-
            </option>

        </select>
    </div>
</div>
<div class="item">
    <div>Peso</div>
    <input type="number" name="weight" value="{{ member.weight }}">
</div>
<div class="item">
    <div>Altura</div>
    <input type="number" name="height" value="{{ member.height  }}">
</div>
<div class="item">
    <div>Instrutor Responsável</div>
    <div>
        <select name="instructor">
        {% for instructor in instructorOptions %}
            <option value="{{ instructor.id }}" {% if member.instructor_id == instructor.id %} selected {% endif %}>
            {{ instructor.name }}
            </option>
            {% endfor %}
        </select>
    </div>
</div>
<button type="submit">Salvar</button>